{% extends "compras/base.html" %}

{% block title %}Crear Requisición{% endblock %}

{% block content %}
<h2>Nueva requisición</h2>

<form method="post">
    {% csrf_token %}

    <fieldset>
        <legend>Datos de la requisición</legend>
        {{ req_form.as_p }}
    </fieldset>

    <fieldset>
        <legend>Detalle</legend>
        {{ det_form.as_p }}
    </fieldset>

    <button type="submit">Guardar requisición</button>
</form>

<a href="{% url 'home' %}">Volver al inicio</a>
{% endblock %}
