{% extends "compras/base.html" %}
{% block title %}Mis Requisiciones{% endblock %}

{% block content %}
<h2>Mis Requisiciones</h2>

<a href="{% url 'crear_requisicion' %}" class="btn btn-primary mb-3">Crear nueva requisición</a>

<table border="1">
    <tr>
        <th>Consecutivo</th>
        <th>Folio</th>
        <th>Fecha</th>
        <th>Área</th>
        <th>Centro de costo</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Acciones</th>

    </tr>
    {% for req in requisiciones %}
    <tr>
        <td>{{ req.consecutivo }}</td>
        <td>{{ requisicion.id }}</td>
        <td>{{ requisicion.fecha }}</td>
        <td>{{ requisicion.area }}</td>
        <td>{{ req.centro_costo }}</td>
        <td>{{ requisicion.descripcion }}</td>
        <td>{{ req.get_estado_display}}</td>
        <td>
            {% if req.estado == "PENDIENTE" %}
                <!-- Más adelante podrías permitir editar/cancelar -->
                Pendiente
            {% elif req.estado == "APROBADA" %}
                Aprobada
            {% elif req.estado == "RECHAZADA" %}
                Rechazada
            <a href="{% url 'detalle_requisicion' req.id %}">Ver</a>
            {% else %}
                —
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Aún no tienes requisiciones registradas.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
